absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
attrs
bert-score
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
dataclasses-json
debugpy
decorator
executing
filelock
fonttools
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
ipykernel
ipython
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mpmath
multidict
mypy-extensions
narwhals
nest-asyncio
networkx
nltk
numpy
ollama
orjson
packaging
pandas
parso
pillow
platformdirs
plotly
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rich
rouge_score
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
six
smmap
sniffio
SQLAlchemy
stack-data
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
watchdog
wcwidth
yarl
